.map-container {
  position: relative;
  width: 100%;
  height: 800px;
  display: flex;
}

.map-wrapper {
  flex-grow: 1;
  position: relative;
}

.map {
  width: 100%;
  height: 100%;
}

.mark-button,
.route-button {
  position: absolute;
  top: 10px;
  z-index: 1000;
  padding: 5px 10px;
}

.mark-button {
  right: 10px;
}

.route-button {
  right: 120px;
}

.route-info {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.marker-description {
  width: 250px;
  background: white;
  padding: 15px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.marker-description h3 {
  margin-top: 0;
  margin-bottom: 15px;
}

.marker-description input,
.marker-description textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

.marker-description textarea {
  height: 100px;
  resize: vertical;
}

.marker-description .button-group {
  display: flex;
  justify-content: space-between;
}

.marker-description button {
  padding: 5px 10px;
}
.marker-description .button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.marker-description .delete-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.marker-description .delete-button:hover {
  background-color: #ff3333;
}
