.mapContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  background: #f0f8ff;

  .map {
    width: 80%;
    height: 95%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 20px;
  }
  .dashBoard {
    position: absolute;
    bottom: 3%;
    right: 30%;
    z-index: 1000;
    width: 25%;
    height: 10%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;

    .markButton,
    .routeButton,
    .delectRoute {
      padding: 5px 10px;
    }
    .message {
      color: #ff3333;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .delectRoute {
      color: #ff3333;
    }
  }
  .routeInfo {
    width: 15%;
    overflow-y: auto;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0 20px 30px;
    h2 {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 50px;
      font-size: 1.2rem;
    }

    .remind {
      font-size: 1.2rem;
      text-align: center;
    }
  }
}

.markerDescription {
  margin: 20px 10px 20px 0;
  width: 250px;
  background: white;
  padding: 15px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;

  h3 {
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 15px;
  }

  input,
  textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
  }

  textarea {
    height: 100px;
    resize: vertical;
  }

  button {
    padding: 5px 10px;
    cursor: pointer;
  }

  .deleteButton {
    background-color: #ff4d4d;
    color: white;
    border: none;

    &:hover {
      background-color: #ff3333;
    }
  }
}
